# Database connection URL (MySQL)
DATABASE_URL="mysql://root:password@localhost:3306/attendance_db"

# JWT Secret (HS256)
JWT_SECRET="9a7f5c2d3e8b1a4f6d8e0c2b5a7f9e1d3c5b7a9f1e3d5c7b9a1f3e5d7c9b1a3"

# Port
PORT=8090
