# Database Connection Settings
DB_URL=jdbc:mysql://localhost:3306/attendance_db?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Kolkata
DB_USERNAME=root
DB_PASSWORD=sutharsan

# Security Configurations
# Secret must be at least 256 bits (32 characters) hex or base64 encoded
JWT_SECRET=9a62aa5f17d3d2a71d6f5f9a62aa5f17d3d2a71d6f5f9a62aa5f17d3d2a71d6f5f
JWT_EXPIRATION=86400000
ALLOWED_ORIGIN=http://localhost:5173

# Application Timezone
APP_TIMEZONE=Asia/Kolkata
